* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  /* Alterado para 'Roboto' */
  font-size: xx-large;
}

body {
  background-color: #1e3a75;
  /* Cor de fundo do corpo */
  color: #333;
  /* Texto escuro para maior legibilidade */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1e3a75;
  color: #ffff;
  text-align: center;
  padding: 15px;
  font-size: 100px;
  /* ajustado */
  font-weight: bold;
  box-shadow: none;
  /* sem sombra */
  z-index: 1000;
}


nav {
  background-color: #1e3a75;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 140px;
  flex-wrap: wrap;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

nav a {
  color: #555;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 1em;
  background-color: #fff;
  border: 2px solid #e0e0e0;
  transition: 0.3s;
}

nav a:hover {
  background-color: #e0e0e0;
  color: #333;
  transform: scale(1.1);
}

/* Layout principal */
main {
  padding: 20px;
  max-width: 12500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Seções gerais */
.titulo {
  text-align: center;
  background-color: #fff;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 20px auto;
  width: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Container para imagem e informações lado a lado */
.container-produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 30px;
}

/* Cada card de produto */
.destaque-produto {
  flex: 310px;
  height: 520px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destaque-produto:hover {
  transform: scale(1.02);
}

/* slider no topo do card */
.slider {
  width: 430px;
  height: 360px;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.slide {
  position: absolute;
  top: 6%;
  left: 10%;
  opacity: 0;   
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.slide img {
  width: 88%;
  height: 88%;
  align-items: center;
  justify-content:center ;
  object-fit: cover;
}

/* infos abaixo da imagem */
.info-produto {
  width: 100%;
  text-align: center;
  padding: 15px;
}

.info-produto h2 {
  font-size: 0.6em;
  margin-bottom: 10px;
}

.info-produto h3 {
  font-size: 0.6em;
  margin-bottom: 15px;
}

.info-produto button {
  padding: 10px 20px;
  font-size: 0.5em;
  background-color: #0c2865;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.info-produto button:hover {
  background-color: #1e3a75;
}


button.comprar {
  background-color: #0c2865;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
  font-size: 0.5em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button.comprar:hover {
  background-color: #e0e0e0;
  color: #0c2865;
}


/* Rodapé */
footer {
  background-color: #0c2865;
  color: #333;
  /* Texto mais claro no rodapé */
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  font-size: 1.1em;
}

footer div {
  margin-bottom: 10px;
}

/* CARRINHO */
.carrinho {
  position: fixed;
  top: 119px;
  right: 0;
  width: 700px;
  max-height: 100vh;
  background-color: #fff;
  border-radius: 20px 0 0 20px;
  padding: 25px;
  box-shadow: -8px 0 20px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  z-index: 1000;
  overflow-y: auto;
  margin-top: 24px;
  transform: translateX(100%);
  /* começa escondido */
  transition: transform 0.3s ease;
}

/* Quando carrinho tem classe .aberto ele aparece */
.carrinho.aberto {
  transform: translateX(0);
}

/* BOTÃO DE SETINHA FIXO */
#toggle-carrinho {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #3e650c;
  color: white;
  margin-top: 10px;
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 15px;
  cursor: pointer;
  z-index: 1100;
  transition: background-color 0.3s;
}

#toggle-carrinho:hover {
  background-color: #1e3a75;
}

/* RESTANTE DO SEU CSS DO CARRINHO */
.carrinho h2,
.carrinho h3 {
  align-items: center;
  color: #333;
  width: 322px;
  margin-bottom: 20px;
}

.carrinho ul {
  list-style: none;
  padding: 0;
  max-height: 50vh;
  overflow-y: auto;
  margin-bottom: 15px;
  border: 2px solid green;
}

.carrinho li {
  font-size: 25px;
  margin-bottom: 12px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  width: 600px;
  border-bottom: 1px solid #eee;
}

.carrinho li button,
#finalizarCompra,
button,
.btn-remover {
  background-color: #0c2865;
  color: #fff;
  border-radius: 12px;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.carrinho li button:hover,
#finalizarCompra:hover,
button:hover,
.btn-remover:hover {
  background-color: #1e3a75;
  transform: scale(1.03);
}

.carrinho {
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
  color: #0c2865;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  align-items: center;

}

.total {
  align-items: center;
}

.carrinho.aberto {
  transform: translateX(0);
}

#finalizarCompra {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  font-size: 40px;
}

/* MENSAGEM FLUTUANTE */
#mensagem-carrinho {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
  z-index: 9999;
  display: none;
  transition: opacity 0.5s ease;
}

/* BOTÃO COMPRAR */
.comprar {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 1em;
  background-color: #1e3a75;
  border: none;
  transition: 0.3s;
}

.comprar:hover {
  background-color: #2b4a90;
}

/* QR CODE CENTRALIZADO */
#qrcode {
  margin-top: 20px;
  text-align: center;
}




/* Área do PIX */
#areaPix {
  background-color: #ffffff;
  border: 2px solid #e0e0e0;
  border-radius: 20px;
  padding: 30px;
  margin-top: 30px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#areaPix h2 {
  color: #1e3a75;
  font-size: 2em;
  margin-bottom: 20px;
}

/* QR Code */
#qrCodePix {
  margin: 20px auto;
  display: block;
  border: 1px solid #ccc;
  padding: 10px;
  background: #f8f8f8;
  border-radius: 10px;
}

/* Código PIX Copia e Cola */
#codigoPix {
  font-size: 1em;
  font-family: monospace;
  background-color: #f4f4f4;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

#areaPix button {
  background-color: #1e3a75;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1em;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

#areaPix button:hover {
  background-color: #3459a3;
}

/* Lista de instruções */
#areaPix ol {
  margin: 15px 0;
  text-align: left;
  padding-left: 20px;
}

#areaPix li {
  margin-bottom: 10px;
  font-size: 1em;
  color: #444;
}

#itensCarrinho {
  color: #1e3a75;
  background-color: #ffffff;
  border: 2px solid #e0e0e0;
  border-radius: 25px;
  padding: 12px 25px;
  font-size: 0.5em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  margin-top: 20px;

}

#itensCarrinho:hover {
  background-color: #3459a3;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}


/* Responsividade */
@media (min-width: 320px) and (max-width:900px) {
  header {
    font-size: 50px;
    margin-top: 2px;
    padding: 10px;
    display: block;
  }


  #pagina_inicial {
    max-width: 300px;
    border-radius: 15px;
    padding: 10px;
    font-size: 25px;
  }

  h2,
  h3 {

    font-size: 22px;
    margin: 4px;
    padding: 2px;
  }


  #nike_azul {
    max-width: 175px;
  }

  #nike_preta {
    max-width: 175px;
  }

  #nike_rosa {
    max-width: 175px;
  }

  #nike_verde {
    max-width: 175px;
  }

  #adidas_verde {
    max-width: 175px;
  }

  #nike_prata {
    max-width: 175px;
  }

  .nike_azul {
    display: none;
  }

  .nike_preta {
    display: none;
  }

  .nike_rosa {
    display: none;
  }

  .nike_verde {
    display: none;
  }

  .adidas_verde {
    display: none;
  }

  .nike_prata {
    display: none;
  }


  /* botao camisa */
  .camisas {
    display: none;
  }

  /* botao chuteiras */
  .chuteiras {
    display: none;
  }

  /* batao materiais */
  .material {
    display: none;
  }

  /* botao tenis */
  .tenis {
    display: none;
  }

  /* botao_sair */
  .sair {
    display: none;
  }


  .carrinho {
    width: 100%;
    margin: 5px auto;
    /* Centraliza no meio da página com espaço acima */
    background-color: #fff;
    padding: 5px;

    /* border-radius: 15px; */
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: block;
  }

  #lista-carrinho {
    list-style: none;
    padding: 0;
  }

  /* BOTAO REMOVER */
  button {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
    padding: 1px 5px;
    border-radius: 5px;
    font-size: 0.5em;
    background-color: #435376;
    border: 2px solid #e0e0e0;
    transition: 0.3s;
    margin-left: auto;
  }


  ul #itensCarrinho {
    color: #1e3a75;
    background-color: #ffffff;
    border: 2px solid #e0e0e0;
    padding: 10px;
    font-size: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;

  }

  #comprarMobile {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    background-color: #0c2865;
    border: 2px solid #e0e0e0;
    transition: 0.3s;
  }

  #finalizarCompra {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    background-color: #0c2865;
    border: 2px solid #e0e0e0;
    transition: 0.3s;
  }

}